/public/
/resources/

index.html
content/post/*/index_files/
content/**/*.html

# Conda prefix
.conda

# VS Code
.vscode

# RStudio
.Rhistory
.Rproj.user
.RData
.Ruserdata

.DS_Store
Thumbs.db
.hugo_build.lock
